.chat-box__data-dashboard--data {
  .ld {
    margin-bottom: 5px;
    .ldc {
      padding: 25px 30px;
      border-radius: 8px;
      border: 1px solid #E3E6ED;
      background: #FFF;

      .ldt {
        display: block;
        color: #3874FF;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 6px;
      }
      .lp {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
      }
    }
    .li {
      margin-bottom: 24px;
    }
  }
  .st {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 7px;
    min-width: 74px;
    text-align: center;

    &.g {
      background-color: #D9FBD0;
      border: 1px solid #90D67F;
      color: #2C7819;
    }
    &.r {
      background-color: #FFE0DB;
      border: 1px solid #F69685;
      color: #BC250F;
    }
    &.b {
      background-color: #C7EBFF;
      border: 1px solid #60C6FF;
      color: #005585;
    }
  }
  .ow {
    padding: 20px 30px;
    border: 1px solid transparent;

    .ot {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 14px;
    }
  }
  .li {
    display: flex;
    gap: 16px;

    .im {
      width: 72px;
      img {
        margin-top: 4px;
        max-width: 100%;
        border-radius: 50%;
      }
    }
    .cc {
      .cn {
        font-size: 18px;
        font-weight: 700;
      }
      .co {
        font-size: 18px;
        line-height: 1.4rem;
      }
    }
  }
  .ac {
    &.p {
      padding: 20px 30px;
    }

    .at {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 16px;
    }
    .al {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .li {
        display: flex;
        gap: 10px;

        .im {
          min-width: 38px;
          width: 38px;
          height: 38px;
          border-radius: 50%;
          margin-top: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;

          &.g {
            background: #BEECFF;
            color: #008BD1;
          }
          &.m {
            background: #FFEEC5;
            color: #E75A00;
          }
          &.u {
            background: #D0FCCC;
            color: #009100;
          }
        }
        .itl {
          color: #3874FF;
          font-size: 16px;
          font-weight: 500;
          text-decoration-line: underline;
        }
        .it {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0px;
        }
        .id {
          color: #777;
          font-size: 13px;
          font-weight: 500;
          white-space: nowrap;
        }
        .dc {
          display: flex;
          gap: 9px;

          .id {
            margin-top: 2px;
          }
        }
      }
    }
  }
  .mt {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 4px;
    letter-spacing: 0.04rem;
  }
  .stt {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
  }
  .bt {
    font-size: 20px;
    font-weight: 500;
    margin-top: 28px;
    margin-bottom: 6px;
    letter-spacing: 0.04rem;
  }
  .cds {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding-bottom: 12px;

    .cd {
      padding: 11px 10px 14px 14px;
      border-radius: 8px;
      border: 1px solid #E3E6ED;
      background: #FFF;

      .hd {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .dt {
          display: flex;
          font-size: 10px;
          opacity: 0.5;
          gap: 5px;
          letter-spacing: -0.02rem;

          .material-symbols-outlined {
            font-size: 15px;
          }
        }
        .st {
          font-size: 8px;
          padding: 1px 3px;
          margin-top: -1px;
          border-radius: 4px;
          letter-spacing: -0.02rem;
        }
      }
      .ct {
        display: block;
        color: #3874FF;
        font-size: 16px;
        font-weight: 500;
        text-decoration-line: underline;
        margin-bottom: 3px;
        letter-spacing: -0.01rem;
      }
      .cp {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 5px;
        letter-spacing: -0.02rem;
      }
      .cpr {
        display: flex;
        font-size: 12px;
        gap: 9px;
        letter-spacing: -0.01rem;

        .material-symbols-outlined {
          font-size: 17px;
        }
      }
    }
  }
  .cts {
    display: flex;
    justify-content: space-around;
    margin: 16px 0 -12px 0;

    .cti {
      display: flex;
      flex-direction: column;
      gap: 2px;
      text-align: center;

      .material-symbols-outlined {
        font-size: 45px;
        color: #3874FF;
      }
      .ctn {
        margin: 0 0 7px;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.6rem;
      }
      .ctt {
        font-size: 14px;
        opacity: 0.5;
      }
    }
  }
}
